.gold-hover:hover{
    color: gold;
    font-weight: bold;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 2px;
    padding: 1px 4px;
    background-color: #f8f9fa;
    color: #000000;
    border: 1px solid #eaecf0;

}

.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}